input, button {
    min-height: 1.8rem;
    margin: 4px;
}

.App {
    width: 732px;
    margin: auto;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.star {
    cursor: pointer;
    height: 25px;
    width: 25px;
    margin: 2px;

    background-color: grey;
    clip-path: polygon(
        50% 0%,
        63% 38%,
        100% 38%,
        69% 59%,
        82% 100%,
        50% 75%,
        18% 100%,
        31% 59%,
        0% 38%,
        37% 38%
    );
}

.star-rating {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.selected {
    background-color: red;
}

.color-list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.color-box {
    width: 180px;
    border: 8px solid;
    margin: 8px;
    padding: 0 16px;
    text-align: center;
    border-radius: 8px;
}

.color {
    width: 60px;
    height: 60px;
    margin: auto;
}

.form {
    margin: 8px 0 16px 0;
}

.remove {
    display: flex;
    justify-content: flex-end;
    margin-right: -16px;
}